<!-- Tarjeta que contiene el indicador de carga -->
<MudCard>
    <!-- Capa superpuesta con diseño centrado para mostrar la animación de carga -->
    <div class="overlay d-flex flex-column justify-content-center align-items-center p-3">
        <!-- Indicador de progreso circular en estado indeterminado -->
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Class="mb-3" />

        <!-- Texto que muestra el mensaje de carga -->
        <MudText Typo="Typo.h5">@Label</MudText>
    </div>
</MudCard>



